# Python
venv/
__pycache__/
*.pyc

# Backend
backend/venv/
backend/__pycache__/

# Node
node_modules/
dist/
build/

# React/Vite
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Env
.env
